<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
   <div class="bg-gradient-to-r from-[#6a3093] via-[#a044ff] to-[#49a09d] h-screen w-full">
    <h1 class="text-3xl font-bold underline flex justify-center mt-5">Topic : EC2</h1>
    <div class="flex justify-center mt-5">
        <img src="/images/image(2).png" width="350" alt="">
    </div>
    <div class="flex justify-center mt-5">
        <h1 class="text-2xl font-md">Shaikh Mohd Shehbaz Mohd Hasim</h1>
    </div>
    <a href="/skill" class="flex justify-center mt-10 text-slate-200 ">Click here to go to my skills</a>
   </div>
</body>
</html>