<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="bg-gradient-to-r from-[#6a3093] via-[#a044ff] to-[#49a09d] h-screen w-full">
    <h1 class="text-3xl font-bold underline flex justify-center mt-5">My Skills</h1>
    <div class="flex justify-center text-2xl font-md mt-10">
        <ul>
            <li class="mt-5">HTML</li>
            <li class="mt-5">CSS</li>
            <li class="mt-5">C PROGRAMING</li>
            <li class="mt-5">PYTHON</li>
            <li class="mt-5">JAVA</li>
            <li class="mt-5">DSA</li>
            <li class="mt-5">JAVASCRIPT</li>
            <li class="mt-5">HTML</li>
            <li class="mt-5">CSS</li>
        </ul>
    </div>
   </div>
</body>
</html>